$font-stack: Helvetica, sans-serif;

$stack-gap: 1.2rem;
$stack-gap-small: 0.6rem;
$stack-gap-large: 1.8rem;

$column-gap: 0.8rem;

$radius-large: 12px;
$radius-med: 8px;
$radius-small: 4px;

/*colors*/
$primary-color: #333;
$background-color: #f6f6f6;
$color-brown: #c8c0ab;
$color-white-dark: #f9f8f3;
$color-white: #fff;
$color-gray-light: #d4d7db;
$btn-primary-color: #649cf4;
$btn-primary-color-dark: #4484f4;
$btn-primary-color-disabled: gray;